a .bbddProcedure{
    width: 90%;
	margin: 0 0 0 30px;
	font-family: sans-serif;
	color:  #b3d9ff;
	padding: 8px 0;
	letter-spacing: 1px;
	font-weight: bold;
}
a .bbddFuncion, .bbddFuncion{
    width: 90%;
	font-size: 1.2em;	
	margin: 0 0 0 0px;
	font-family: sans-serif;
	color: #47d147;
	padding: 8px 0;
	letter-spacing: 1px;
	font-weight: 400;

}
a .bbddTrigger{
    width: 90%;
	margin: 0 0 0 30px;
	font-family: sans-serif;
	color: #ff1a75;
	padding: 8px 0;
	letter-spacing: 1px;
	font-weight: bold;
	
}
